<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Boilerplate Front-end Template</title>
  </head>
  <body>
    <div class="siteWrapper" data-module="BaseModule">
      <img src="images/global/logo.png" alt="Man Tran" class="logo">
      <header>
        Hello, world!
      </header>
    </div>
  </body>
</html>
