{% set data = htmlWebpackPlugin.options %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ data.title }}</title>
</head>

<body>

<div class="siteWrapper">
  {% include './header.twig' %}
  {% block page %}{% endblock %}
  {% include './footer.twig' %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>
